.outerCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.container{
  display: grid;
  gap: 0.5rem;
}
.cardContent{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  border: 1px black solid;
  width:4rem;
  height:6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
.card.visible{
  background-color: red;
}

.rowCont{
  display: flex;
  flex-direction: row;
  gap:1rem;
}
.indexOuterCont{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}